* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 
:root {
    --oscuro: #131313;
    --claro: #fff;
    --flechaHover: #242424;
    --flechaActive: #131313;
    --varLineNav: #ffff00;
}

body {
    background-color: var(--oscuro);
    color: var(--claro);
    font-family: 'Rosario', sans-serif;
}
header {
    padding: 7px 0 0 0;
}
h1 {
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 50px;
}
h5 {
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 12px;
}
nav {
    text-align: center;
    /*background-color: tomato;*/
    width: 90%;
    margin: 0 auto;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0; 

    display: flex;
    justify-content: space-around;
}
li {
    float: left; 
    list-style: none;
}
a {
    display: block;
    padding: 7px 5px;
    text-decoration: none;
    color: var(--claro);
    
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 17px;
}





/* TEXTO EN EL MEDIO - COMING SOON */
.pronto{
    margin-top: 200px;
}
.pronto h1{
    font-size: 100px;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-weight: normal;
}




/* MENUS NAV*/
.menus {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    backface-visibility: hidden;
    position: relative;
    overflow: hidden;
}

.menus:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: var(--varLineNav);
    height: 3px;
    transition-property: left, right;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

.menus:hover:before, 
.menus:focus:before, 
.menus:active:before {
    left: 0;
    right: 0;
}













/*
    FLECHAS DERECHA - IZQUIERDA
*/
.left, .right {
    color: var(--claro);
    font-size: 35px; 
    left: 1440px;
    top: 200px;
    text-align: center;
}

.circulo-right {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 1440px;
    top: 395px;
    border-radius: 50%;
    background-color: transparent;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.circulo-left {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 50px;
    top: 395px;
    border-radius: 50%;
    background-color: transparent;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.circulo-left a,
.circulo-right a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circulo-left a:hover,
.circulo-right a:hover{
    background-color: var(--flechaHover);
    border-radius: 50%;
}

.circulo-left a:active,
.circulo-right a:active{
    background-color: var(--flechaActive);
    border-radius: 50%;
} 